.dropdown {
  position: relative;
  width: 200px;
  font-family: Roboto;
  font-size: 14px;
}

.dropdown-trigger {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 12px 5px 12px;
  border-radius: 4px;
  border: solid 1px var(--color-black-700);
}

.dropdown-list {
  box-shadow: 0 2px 2px 0 #dad8d8;
  display: flex;
  position: absolute;
  flex-direction: column;
}

.dropdown-item {
  transition: all ease-in-out 300ms;
  border: none;
  display: flex;
  align-items: center;
  background-color: white;
  text-align: left;
  padding: 12px;
}

.dropdown-item:hover {
  background-color: var(--color-gray-50);
}

.dropdown-item img {
  width: 24px;
  height: 24px;
  margin-right: 13px;
  object-fit: contain;
}
